/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2016, 4:07:15 PM
    Author     : Monali Golhar
*/

.div_star{
    background-color: #00bcd4;
    width:242px;
    height: 46px;
    border: 2px
}

.star:hover{
    background: url(Images/gstar.png);
}
.div_star:hover{
    background: url(Images/gstar.png);
}